@font-face {
  font-family: 'JetBrains Mono';
  src: url('./JetBrainsMono-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body {
  display: grid;
  place-items: center;
  height: 70vh;
  background-color: black;
  align-self: center;
}

.back-video{
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
}

header {
  position: absolute;
  color: white;
  height: max-content;
  width: max-content;
  z-index: 0;
  margin-bottom: 25vh;
  display:grid;
  background-color: rgba(137, 137, 137, 0.377);
  height: 25%;
  width: 60%;
  border-radius: clamp(2rem, 0.5vw, 1rem);
  padding: 5px;
  transition: 1s;
}

header:hover{
  background-color: rgb(255, 200, 59);
}

.mainCard{
  background-color: black;
  position: absolute;
  display: grid;
  width: 98%;
  height: 95%;
  margin-left:1%;
  margin-top:0.5%;
  left:0px;
  top:0px;
  border-radius: clamp(2rem, 0.5vw, 1rem);
  
}

.headingText{
  background-color: transparent;
  width: 50%;
  height: 100%;
  left: 35%;
  position: absolute;
  font-family: 'Space Mono', monospace;
  font-size: 4vw;
  text-align: left;
  line-height: 4vw;
  pointer-events: none

  
}

.credentials{
  font-family: 'JetBrains Mono';
  font-size: 1vw;
}

.portfolioIMG{
  position: absolute;
  object-fit:scale-down;  
  top:0px;
  left: 5%;
  height: 24vh;
  width: 24vw;
  pointer-events: none
}

.container {
  display: flex;
  position: absolute;
  margin-top: 50vw;
  margin-bottom: 10vw;
  width: 70%;
  height: 35%;
  justify-content: space-evenly;
}


.cardHeader{
  font-family: 'Space Mono', monospace;
  font-size: 2vw;
  color: white;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 25%;
  z-index: 2;
}

.headerLine{
  top: 2.7vw;
  position: absolute;
  height: 0.1%;
  left: 20%;
  width: 0%;
  z-index: 3;
  background-color: rgb(255, 200, 59);
  transition: width 1s;
}

.card:hover .headerLine{
  width: 60%;
}

.cardIMG{
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: black;
  object-fit: cover;  
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.card{
  padding: 5px;
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 3vw, 10rem);
  text-align:center;

  display: grid;

  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  height: 100%;
  width: 25%;
  margin-top: 5vw;
  background-color: rgba(255, 255, 255, 0.186);
  transition: background-color 1s;
}

.card:hover{
  color: black;
  background-color: #c2920e;
}

.gradient {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 25%;
  object-fit: cover;  
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 550px){ 
    .header{
      top:5%;
      height: 17%;
      width: 90%;
    }

    .portfolioIMG{
      top:3vw;
      left:-10px;
      height: 12vh;
      width: 40vw;
    }

    .headingText{
      top:3vw;
      background-color: transparent;
      width: 70%;
      left: 35%;
      font-size: 6.5vw;
    }

    .credentials{
      font-size: 2.3vw;
    }
    
    .container{
      display: grid;
      margin-top: 100%;
      width: 100%;
      height: 70%;
    }
  
    .card{
      position: relative;
      width: 80vw;
      height: 80%;
      margin-left:1%;
      margin-top: 5%;
      margin-bottom: 0%;
      left:-0vw;
      top:0px;
    }

    .cardIMG, .gradient{
      top: 2.5%;
      left: 2.5%;
      height: 95%;
      width: 95%;
    }

    .cardHeader{
      top: 1vw;
      font-size: 5vw;
      width: 100%;
    }
    
    .headerLine{
      top: 7vw;
      position: absolute;
      height: 0.1%;
      left: 10%;
    }
    
    .card:hover .headerLine{
      width: 80%;
    }
}

/* ----------- Google Pixel ----------- */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}*/

/* ----------- Galaxy S8+ ----------- */
/*@media screen 
  and (device-width: 360px) 
  and (device-height: 740px) 
  and (-webkit-device-pixel-ratio: 4) {

}*/
